---
import 'tabulator-tables/dist/css/tabulator.min.css';
const { tabulatorText, priority, doc } = Astro.props;
---
<div id="props" data-doc={doc} data-priority={priority}></div>
<div class="table">{tabulatorText}</div>
<script src="http://localhost:3000/tabulator.js" is:inline></script>
<script id="mount" is:inline>
    mounted(document);
</script>