---
import 'tabulator-tables/dist/css/tabulator.min.css';
const { tabulatorText, priority } = Astro.props;
---
<div id="props" data-priority={priority}></div>
<div class="table">{tabulatorText}</div>
<script id="mount" src="http://localhost:3000/tabulator.js" is:inline onload="mounted()"></script>