---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>Our Real Estate Services</h1>
            <div class="text-content scroll-content">
                <div class="service-container locni-container">
                    <div class="bottom-line">
                        <h2 class="locni-title">Residential Real Estate</h2>
                        <p class="locni-description">
                            Looking for your dream home? Our expertise in
                            residential real estate ensures that you find the
                            perfect home that fits your lifestyle and budget.
                        </p>
                        <div class="locni-features">
                            <ul>
                                <li>
                                    Assistance with buying, selling, or renting
                                    residential properties.
                                </li>
                                <li>
                                    Comprehensive market analysis to find the
                                    best value for your investment.
                                </li>
                                <li>
                                    A personalized approach to meet your unique
                                    needs.
                                </li>
                            </ul>
                        </div>
                        <a
                            class="btn-primary"
                            href="/us/ga/decatur/real-estate-agents/services/residental"
                            >Learn More</a
                        >
                    </div>
                    <div class="bottom-line">
                        <h2 class="locni-title">Luxury Properties</h2>
                        <p class="locni-description">
                            Discover some of the most exclusive luxury homes and
                            estates in the market. Our team specializes in
                            high-end properties and offers a tailored service to
                            help you find a property that matches your vision.
                        </p>
                        <div class="locni-features">
                            <ul>
                                <li>
                                    Access to exclusive luxury property
                                    listings.
                                </li>
                                <li>
                                    Customized strategies for luxury property
                                    marketing.
                                </li>
                                <li>
                                    Professional staging and high-quality
                                    photography to highlight your property.
                                </li>
                            </ul>
                        </div>
                        <a
                            class="btn-primary"
                            href="/us/ga/decatur/real-estate-agents/services/luxury"
                            >Learn More</a
                        >
                    </div>
                    <div class="bottom-line">
                        <h2 class="locni-title">Commercial Real Estate</h2>
                        <p class="locni-description">
                            Investing in commercial real estate can be a
                            game-changer for your business. Let us connect you
                            with the right opportunities.
                        </p>
                        <div class="locni-features">
                            <ul>
                                <li>
                                    Lease negotiation and tenant representation.
                                </li>
                                <li>
                                    Guidance on zoning and compliance
                                    regulations.
                                </li>
                                <li>
                                    Market analysis for strategic investments.
                                </li>
                            </ul>
                        </div>
                        <a
                            class="btn-primary"
                            href="/us/ga/decatur/real-estate-agents/services/commercial"
                            >Learn More</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
