---
import TabulatorTable from '../components/TabulatorTable.vue';
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
	<Navigation />
  <h1>Interactive Table with Tabulator</h1>
  <TabulatorTable client:load />
	<Footer />
</Layout>
