---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
import listingsDetails from "./[id]/data.json"
import PropertyListings from "src/astro/components/PropertyListings.astro";
---

<Default data={data}>
    <div slot="pageCustom">
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>Decatur, GA Investment Properties</h1>
            <div class="text-content scroll-content">
                <div class="listing-container">
                    <div class="listings-grid">
                        <PropertyListings data={data} listingsDetails={listingsDetails}/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Default>
