---
import Default from "../src/astro/components/Default.astro";
import data from "./data.json";
---

<Default data={data}>
    <div slot="pageCustom">yar
        <div class="mainContent no-scroll-content" id="main-wrapper">
            <h1>Decatur, GA Single-Family Homes</h1>
        </div>
    </div>
</Default>
