@use 'variables';
@use 'holygrail';

.breadcrumb-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  // color: #ffffff;
  width: fit-content;
  // text-shadow:
  //   -1px -1px 0 #000,
  //    1px -1px 0 #000,
  //   -1px  1px 0 #000,
  //    1px  1px 0 #000;
  background: rgba(255, 255, 255, 0.6);
  // background: rgb(241, 238, 233, 0.6);
  color: #333;
}

.breadcrumbs {
  font-size: 0.75em;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 0 5px;
  // background-color: #e0f7fa;
}

.breadcrumb {
  background: none;
  list-style: none;
  display: contents;
  padding: 0.157em 0.44em 0.13em 0.44em;
}

.breadcrumb-item {
  padding: 2px 0;
  // font-size: 1em;
  // font-weight: bold;
  margin: 0;
  line-height: 0.9;
}

.breadcrumb a {
  font-weight: normal;
  color: #045858;
  text-decoration: none;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

@include holygrail.breadcrumbHolygrail;
