$primary-color: #244189;
// $accent-color: #fefefe;
$white-text-color: #fff;
$back-text-color: #333;
// $link-text-color: rgb(0, 0, 238);

// @mixin flexCenter($direction) {
//   display: flex;
//   flex-direction: $direction;
// }
